<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belt Exam</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container"><br>
        <h1>Welcome! Sign in to manage your jobs!</h1><hr>
        {% with messages = get_flashed_messages(category_filter=["logout"]) %}
            {% if messages %} 
                {% for message in messages %}
                    <p class="flash">{{message}}</p>                   
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="logandreg">
            <h2>Registration</h2>
            <form action="/register" method="post">
                <div class="form-group">
                    <label for="1fname">First Name:</label>
                    {% with messages = get_flashed_messages(category_filter=["fname"]) %}
                        {% if messages %} 
                            {% for message in messages %}
                                <p class="flash">{{message}}</p>                   
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <input type="text" class="form-control" id="1fname" placeholder="First Name" name="fname">
                </div>
                <div class="form-group">
                    <label for="1lname">Last Name:</label>
                    {% with messages = get_flashed_messages(category_filter=["lname"]) %}
                        {% if messages %} 
                            {% for message in messages %}
                                <p class="flash">{{message}}</p>                   
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <input type="text" class="form-control" id="1lname" placeholder="Last Name" name="lname">
                </div>
                <div class="form-group">
                    <label for="1email">Email:</label>
                    {% with messages = get_flashed_messages(category_filter=["email"]) %}
                        {% if messages %} 
                            {% for message in messages %}
                                <p class="flash">{{message}}</p>                   
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <input type="text" class="form-control" id="1email" placeholder="Email" name="email">
                </div>
                <div class="form-group">
                    <label for="1pw">Password:</label>
                    {% with messages = get_flashed_messages(category_filter=["pass"]) %}
                        {% if messages %} 
                            {% for message in messages %}
                                <p class="flash">{{message}}</p>                   
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <input type="password" class="form-control" id="1pw" placeholder="Password" name="pass">
                </div>
                <div class="form-group">
                    <label for="1pwconf">Confirm Password:</label>
                    {% with messages = get_flashed_messages(category_filter=["pass2"]) %}
                        {% if messages %} 
                            {% for message in messages %}
                                <p class="flash">{{message}}</p>                   
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <input type="password" class="form-control" id="1pwconf" placeholder="Confirm Password" name="pass2">
                </div>

                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>

        <div class="logandreg">
            <h2>Login</h2>
            {% with messages = get_flashed_messages(category_filter=["loginfail"]) %}
                    {% if messages %} 
                        {% for message in messages %}
                            <p class="flash">{{message}}</p>                   
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="2email">Email:</label>
                    {% with messages = get_flashed_messages(category_filter=["logemail"]) %}
                        {% if messages %} 
                            {% for message in messages %}
                                <p class="flash">{{message}}</p>                   
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <input type="text" class="form-control" id="2email" placeholder="Email" name="loginemail">
                </div>
                <div class="form-group">
                    <label for="2pw">Password:</label>
                    {% with messages = get_flashed_messages(category_filter=["logpass"]) %}
                        {% if messages %} 
                            {% for message in messages %}
                                <p class="flash">{{message}}</p>                   
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <input type="password" class="form-control" id="2pw" placeholder="Password" name="loginpass">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <hr>
    </div>
</body>
</html>