<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
  <body>
    <div class="container">
        <h1>Hello {{ session["first"] }}! These are the job details!</h1>
        <a href="/dashboard" class="btn btn-primary" role="button">Dashboard</a>
        {% for jobs in showjob %}
        <p>Job Title: {{ jobs['title']}}</p>
        <p>Job Description: {{ jobs['description']}}</p>
        <p>Job Location: {{ jobs['location']}}</p>
        <p>Posted by: {{ jobs['first_name']}}</p>
        <p>Posted on: {{ jobs['created_at']}}</p>
        {% endfor %}
    </div>
  </body>
</html>