<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belt Exam</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
            <div class="jumbotron">
                <h1>Hello {{ session["first"] }} Create a trip!</h1>
                <form action="/create" method="POST">
                    {% with messages = get_flashed_messages() %}  
                        {% if messages %}                            
                            {% for message in messages %}            
                            <p>{{message}}</p>                   
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    Destination: <input type="text" name="destination"><br><br>
                    Start Date: <input type="date" name="start_date"><br><br>
                    End Date: <input type="date" name="end_date"><br><br>
                    Plan: <input type="text" name="plan"><br><br>
                    <input type="submit" class="btn btn-primary" value="Submit">
                    <a href="/dashboard" class="btn btn-danger" role="button">Cancel</a>         
                </form>
            </div>
        </div>
</body>
</html>