<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belt Exam</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <h1>Hello {{ session["first"] }}! These are the trip details!</h1>
            <a href="/dashboard" class="btn btn-primary" role="button">Dashboard</a>
        </div>
        <div class="jumbotron">
            {% for trips in showtrips %}
            <p>Trip Destination: {{ trips['destination']}}</p>
            <p>Trip Start Date: {{ trips['start_date']}}</p>
            <p>Trip End Date: {{ trips['end_date']}}</p>
            <p>Plan: {{ trips['plan']}}</p>
            <p>Created by: {{ session['first']}}</p>
            <p>Created on:{{ trips['created_at']}}</p>
            <p>Updated on:{{trips ['updated_at']}}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>