<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .boxes{
            border: 1px solid black;
            background-color: {{background_color}};
            display: inline-block;
            height: 100px;
            width: 100px;
            
        }
    </style>
</head>
<body>
    <div class="container">
        {% for i in range(0, num_times )%}
    <div class="boxes"></div>
        {% endfor %}
    </div>
</body>
</html>